######################################################################
#https://github.com/rootiest/zippy-klipper_config/tree/master/macros##
######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

[gcode_macro START_PRINT]
gcode:
#### set defaults ####
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(210)|float %}
    #### end off definition  ####
    # Start bed heating
    M140 S{BED_TEMP}
    G90    # Use absolute coordinates
    G92 E0 ; Reset Extruder
    M83 #Extruder relative Mode
    SET_GCODE_OFFSET Z=0.0 # Reset the G-Code Z offset (adjust Z offset if needed)
    M190 S{BED_TEMP} # Wait for bed to reach temperature
    M109 S{EXTRUDER_TEMP} # Set and wait for nozzle to reach temperature
    G28 # Home the printer
    BED_MESH_PROFILE LOAD=default
    #G1 Z5 F3000 # Move the nozzle near the bed
    #G1 Z0.15 F300 # Move the nozzle very close to the bed

#Primeline / Purg Line 
	G1 X4.0 Y30.0 F5000.0                     ; Move to front
	G1 Z0.28                                  ; Drop to bed
	G1 X4.0 Y200.0 E15 F1500                  ; Extrude first line
    G1 X4.3 Y200.0 Z0.3 F5000.0               ; move a bit sideways
    G1 X4.3 Y28 Z0.3 F1500.0 E30               ; Extrude second line
    G1 E-0.9 F3000                           ; Retract to avoid stringing
	G92 E0                                   ; Zero the extruded length
	G1 Z5.0 F4500                            ; Raise head in Z
	#G1 Y180 F4500                            ; Move Toolhead 



[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0 ;Bed
    M104 S0 ;Extruder
    M106 S0 ;Fan
    G91
    G1 Z0.2 E-2 F2400 # Move nozzle away from print while retracting
    G1 X5 Y5 F3000
    G1 Z10    # Raise nozzle by 10mm
    G90
    G1 X0 Y225 ; Show print :-)
    M84 # Disable steppers


######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:

    {% set X = params.X|default(225)|float %}
    {% set Y = params.Y|default(225)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

#####################################
#          PID Tune Macros          #
#       Version 1.0  2023-1-30      #
#####################################

################################
######### PID_EXTRUDER #########
################################
[gcode_macro PID_EXTRUDER]
description: PID Tune for the Extruder
gcode:
  {% set e = printer.toolhead.extruder %}
  {% set T = params.TEMPERATURE|default(210)|float %}
  {% set S = params.FAN_IN_PERCENT|default(0)|float *2.55 %}
  {% set P = printer.configfile.config[e].pid_kp|float %}
  {% set I = printer.configfile.config[e].pid_ki|float %}
  {% set D = printer.configfile.config[e].pid_kd|float %}
  M106 S{S}
  M118 // PID parameters: pid_Kp={P} pid_Ki={I} pid_Kd={D}  (old)
  PID_CALIBRATE HEATER={e} TARGET={T}
  TURN_OFF_HEATERS
  SAVE_CONFIG
 
################################
############ PID_BED ###########
################################
[gcode_macro PID_BED]
description: PID Tune for the Bed
gcode:
  {% set T = params.TEMPERATURE|default(60)|float %}
  {% set P = printer.configfile.config['heater_bed'].pid_kp|float %}
  {% set I = printer.configfile.config['heater_bed'].pid_ki|float %}
  {% set D = printer.configfile.config['heater_bed'].pid_kd|float %}
  M118 // PID parameters: pid_Kp={P} pid_Ki={I} pid_Kd={D}  (old)
  PID_CALIBRATE HEATER=heater_bed TARGET={T}
  TURN_OFF_HEATERS
  SAVE_CONFIG
################################
############ Load Filament######
################################
[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    G1 E30 F300 # fast-load 25mm Filament 
   # G1 E25 F50 # purge
    RESTORE_GCODE_STATE NAME=load_state

################################
############ UnLoad Filament ###
################################
[gcode_macro UNLOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E10 F1000 # purge
    G1 E-50 F1000 # fast-unload
    RESTORE_GCODE_STATE NAME=unload_state